### 1757. Recyclable and Low Fat Products

This notebook identifies products that are both recyclable and low in fats.

In [16]:
# Load SQL magic extension and connect to an SQLite in-memory database
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%%sql
-- Create a table `Products` with columns for product ID, low fat status, and recyclability
CREATE TABLE Products (
    product_id INT PRIMARY KEY,
    low_fats CHAR(1),
    recyclable CHAR(1)
);

 * sqlite://
Done.

[]

In [13]:
%%sql
-- Insert data into `Products` table
INSERT INTO Products (product_id, low_fats, recyclable) VALUES
(0, 'Y', 'N'),
(1, 'Y', 'Y'),
(2, 'N', 'Y'),
(3, 'Y', 'Y'),
(4, 'N', 'N');

 * sqlite://
5 rows affected.

[]

In [15]:
%%sql
-- Select product IDs where the product is both low fat and recyclable
SELECT product_id
FROM Products
WHERE low_fats = 'Y' AND recyclable = 'Y';

 * sqlite://
Done.

[(1,), (3,)]